
<!-- Hero -->
<section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        Manage Your Team Better!
      </p>
      <p class="subtitle">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </section>

  <div class="container is-fluid">

  <section class="section is-small pl-0">
      <h1 class="title">Medium section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
      </h2>
  </section>


  <!-- Tiles -->
  <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">First Column</p>
          <p class="subtitle">Lorem ipsum dolor.</p>
          <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate velit doloribus, eum voluptate excepturi molestiae sapiente quisquam pariatur explicabo inventore minima tenetur quam corrupti ut atque neque debitis rerum nemo?
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Second column</p>
          <p class="subtitle">dolor sit amet consectetur</p>
          <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo blanditiis, itaque exercitationem veniam eligendi ad quaerat ducimus consectetur iste, voluptatem excepturi quo repellendus corrupti tenetur odit nobis quas tempora culpa!
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Third column</p>
          <p class="subtitle">With some content</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>
</div>

