<nav class="navbar is-hidden-tablet is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-size-3 has-text-weight-bold">
      <a class="navbar-item" href="#">
        Team.
      </a>
  
      <a role="button" (click)="toggleSideBar()" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="top-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="top-navbar" class="navbar-menu has-background-dark" [ngClass]="{'is-active' : sideBarActive}">
      <div class="navbar-start">
        <a class="navbar-item">
          Team Settings
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Manage Your Team
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Members
            </a>
            <a class="navbar-item">
              Plugins
            </a>
            <a class="navbar-item">
              Add a member
            </a>
          </div>
  
          <a class="navbar-item">
            Invitations
          </a>
  
          <a class="navbar-item">
            Clould Storage Environment Settings
          </a>
  
          <a class="navbar-item">
            Authentication
          </a>
  
        </div>
      </div>
    </div>
  </nav>
