<nav class="navbar is-hidden-tablet is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-size-3 has-text-weight-bold">
      <a class="navbar-item" href="#">
        Team.
      </a>
  
      <a role="button" (click)="toggleSideBar()" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="top-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="top-navbar" class="navbar-menu has-background-dark" [ngClass]="{'is-active' : sideBarActive}">
      <div class="navbar-start">
      
        <div *ngFor="let menuItem of menuItems; let rooti = index" >
          <a [class.is-active]="active==rooti" (click)="active=rooti" class="navbar-item">
            {{ menuItem.name }}
          </a>

          <div *ngIf="menuItem.children.length > 0" class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ menuItem.name }}
            </a>
            <div class="navbar-dropdown">
              <div *ngFor="let childItem of menuItem.children; let subi = index" >
                <a [class.is-active]="active==subi+10" (click)="active=subi+10" class="navbar-item">
                  {{ childItem.name }}
                </a>
              </div>
             
            </div>
          </div>
        </div>
         


     

 

   

        
       

        
  
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Manage Your Team
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Members
            </a>
            <a class="navbar-item">
              Plugins
            </a>
            <a class="navbar-item">
              Add a member
            </a>
          </div>
        </div> -->


      </div>
    </div>
  </nav>
