<div class="sidebar-wrapper mt-4">
    <h2 class="menu-brand is-size-3 has-text-white has-text-weight-bold">Team.</h2>
    <hr>
<ul class="menu-list">
    <li *ngFor="let menuItem of menuItems; let rooti = index">
        <a [class.is-active]="active==rooti" (click)="active=rooti">{{ menuItem.name }}</a>
        <ul *ngIf="menuItem.children.length > 0">
            <li *ngFor="let childItem of menuItem.children; let subi = index">
                <a [class.is-active]="active==subi+10" (click)="active=subi+10">{{ childItem.name }}</a>
            </li>
        </ul>
    </li>
</ul>
</div>



