
<!-- Hero -->
<section class="hero is-link">
    <div class="hero-body">
      <p class="title is-size-2">
        Dashboard.
      </p>
      <p class="subtitle pt-2">
        Good morning Chavez, focus on your team insights better with <strong>Team Pro.</strong>
      </p>
    </div>
  </section>

  <div class="container is-fluid">

  <section class="section is-small pl-0">
      <h1 class="title has-text-grey">Team. Overview</h1>
      <h2 class="subtitle pt-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit <strong>sections</strong>.
      </h2>
  </section>


  <!-- Tiles -->
  <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title is-size-4 has-text-info">Team Progress</p>
          <p class="subtitle is-size-6 pt-2"><span class="tag is-primary mr-2">+12%</span>this week.</p>
          <p class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate velit doloribus, eum voluptate excepturi molestiae sapiente quisquam pariatur?
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title is-size-4 has-text-info">Team Deadlines</p>
          <p class="subtitle is-size-6 pt-2"><span class="tag is-danger mr-2">-2%</span>this week.</p>
          <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, voluptatem excepturi quo repellendus corrupti tenetur odit nobis quas tempora culpa!
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title is-size-4 has-text-info">Team Projects</p>
          <p class="subtitle is-size-6 pt-2"><span class="tag is-primary mr-2">+8%</span>this week.</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>


    <section class="section is-small pl-0">
      <h1 class="title has-text-grey">Team. Charts</h1>
      <h2 class="subtitle pt-2">
        Visualizing your teams <strong>performance</strong>.
      </h2>
  </section>


  <div class="section is-small pl-0 pt-0">
    <app-chart></app-chart>
  </div>

</div>

