/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100vh;
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

